/* Color y transición de los enlaces */
.navbar-link-text {
    color: #1f2937;
    transition: color 0.3s ease;
}

.navbar-link-text:hover {
    color: #6A7EFC;
}

/* Estilo del botón de login */
.navbar-login-btn {
    background-color: #6A7EFC;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.navbar-login-btn:hover {
    background-color: #FF5656;
}
